@font-face {
  font-family: 'Fedorka';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Fedorka.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter.ttf);
}

*{
  
  box-sizing: border-box;
  margin:0;
  padding: 0;
  border: 0;
 
  border: 0;
}


#body-portada{
  background-image: url('../images/balmer-rosario-k6awQMzsmsI-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;  
  
}


.menu-navegacion{
  display: flex;
  list-style-type: none;
  flex-direction: column; 
  font-size: 1.5rem;   
  font-weight: 700;
  gap: 3rem;
  margin-top: 350px; 
  margin-left: 60px;
  font-family: 'Fedorka', 'Inter', sans-serif;
  
}

.menu-navegacion a {
  text-decoration: none;
  color: black;
  
}
.menu-navegacion a:hover {
  text-decoration: none;
  color: white;
  font-weight: ;
  
}
button{
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Fedorka';
  background-color:transparent;
  
}
button :hover{
  color: white;
}
.encabezado {
    color:black;
    text-align: right;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Fedorka';
    
  }
  body{
    position: relative;
    min-height: 100vh;
    font-family: 'Fredoka One', cursive;
   

  }

  .footer-index{
background: rgb(171, 210, 202);
color: rgb(0, 0, 0);
position: absolute;
bottom: 0;
width: 100%;
margin-left: 0;
margin-right: 0;
padding-right: 5px;
padding-left: 5px;
margin-bottom: 0;
margin-top: 200px;
border-top: 2 solid black;


}
.pie{
  margin-left: 200px;
  padding-bottom: 50px;
  position: relative;
  top: 20px;
  font-family: 'Inter', sans-serif;
 
}
.menupie li{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  position:relative;
  bottom: 20px;
  left: 160px;
  padding-right: 15px;
   margin-left: 40px;

}
.menupie a{
  text-decoration: none;
  color: rgb(240, 23, 186);
  font-weight: 800;
}
.menupie a:hover{
  color: rgb(0, 0, 0);
}

#body-categoria{
  height: 100%;
  width: 100%;
  position: absolute; 

}

#main-categoria{
  display: block;
  position: relative;
  margin-left: 200px;
  margin-right: 200px;
}

.titular-categoria{
  margin-top: 20px;
  font-size: 1.3rem;
  margin-left: 200px;
  margin-bottom: 20px;
  

}

.saltoalafama{
  margin-top: 20px;
  text-align: justify;
  font-family: 'Inter';
}
.saltoalafama a{
  text-decoration: none;
  color: black;
}
.saltoalafama a:hover{
  color: rgb(240, 23, 186);
  text-decoration:underline;
  font-weight: bolder;
}
.laserie{
  text-align: justify;
  font-family: 'Inter';
}
.segundaparte{
  text-align: justify;
  font-family: 'Inter';
}
.calledalmata{
  text-align: justify;
  font-family: 'Inter';
}
.otrasapariciones{
  text-align: justify;
  font-family: 'Inter';
}
.pongoimagencampo{
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  font-style: italic; 
  font-size: 0.8rem;
  text-align: right;
}
.lista-apariciones li{
margin-left: 30px;
}
.footer-categoria{
background: rgb(171, 210, 202);
color: rgb(0, 0, 0);
position: relative;
bottom: 0;
width: 100%;
margin-left: 0;
margin-right: 0;
padding-right: 5px;
padding-left: 5px;
margin-bottom: 0;
margin-top: 30px;
border-top: 2 solid black;
}
.pie-categoria{
  margin-left: 200px;
  padding-bottom: 50px;
  position: relative;
  top: 20px;
  font-family: 'Inter', sans-serif;
}
.menupie-categoria li{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  position:relative;
  bottom: 20px;
  left: 160px;
  padding-right: 15px;
   margin-left: 40px;
}
.menupie-categoria a{
  text-decoration: none;
  color: rgb(240, 23, 186);
  font-weight: 800;
}
.menupie-categoria a:hover{
  color: rgb(0, 0, 0);
}
.menu-navegacion-categoria{
  display: flex;
  list-style-type: none;
  flex-direction: row; 
  font-size: 1rem;   
  font-weight: 700;
  gap: 3rem;
  justify-content: right;
  margin-right: 200px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-family: 'Fedorka';
  
}
.div-categoria{
  background: linear-gradient(180deg, rgba(0,0,0,1) -47%, rgba(242,193,164,1) 0%, rgba(255,255,255,1) 72%);
  padding-top: 2px;
}
.menu-navegacion-categoria a{
  text-decoration: none;
  color: rgb(240, 23, 186);
  font-weight: bold;
  
}
.menu-navegacion-categoria a:hover{
  color: black;
}
.header-categoria{
  background: rgb(171, 210, 202);
  display: flex;
  border-bottom: 2 solid black;
}
.header-detalle{
  background: rgb(171, 210, 202);
  display: flex;
  border-bottom: 2 solid black;
}
.div-detalle{
  background: linear-gradient(180deg, rgba(0,0,0,1) -47%, rgba(242,193,164,1) 0%, rgba(255,255,255,1) 72%);
  padding-top: 2px;
}
.menu-navegacion-detalle a{
  text-decoration: none;
  color: rgb(240, 23, 186);
  font-weight: bold;
  
}
.menu-navegacion-detalle a:hover{
  color: black;
}

#main-detalle{
  font-family: 'Inter';
  display: block;
  position: relative;
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
}
#body-detalle{
  height: 100%;
  width: 100%;
  position: absolute; 

}
.titular-detalle{
  margin-top: 20px;
  font-size: 1.3rem;
  margin-left: 200px;
  margin-bottom: 20px;
  

}
.menu-navegacion-detalle{
  display: flex;
  list-style-type: none;
  flex-direction: row; 
  font-size: 1rem;   
  font-weight: 700;
  gap: 3rem;
  justify-content: right;
  margin-right: 200px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-family: 'Fedorka';
  
}
.div-detalle{
  background: linear-gradient(180deg, rgba(0,0,0,1) -47%, rgba(242,193,164,1) 0%, rgba(255,255,255,1) 72%);
  padding-top: 2px;
}
.menu-navegacion-detalle a{
  text-decoration: none;
  color: rgb(240, 23, 186);
  font-weight: bold;
  
}
.footer-detalle{
  background: rgb(171, 210, 202);
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 0;
  margin-top: 30px;
  border-top: 2 solid black;
  }
  .pie-detalle{
    margin-left: 200px;
    padding-bottom: 50px;
    position: relative;
    top: 20px;
    font-family: 'Inter', sans-serif;
  }
  .menupie-detalle li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    position:relative;
    bottom: 20px;
    left: 160px;
    padding-right: 15px;
     margin-left: 40px;
  }
  .menupie-detalle a{
    text-decoration: none;
  color: rgb(240, 23, 186);
  font-weight: bold;
  }
  .menupie-detalle a:hover{
    color:black;
  }

  .video{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px; 
    font-size: 0.8rem;
    text-align: right;
  }

  .header-presentacion{
    background: rgb(171, 210, 202);
    display: flex;
    border-bottom: 2 solid black;
  }
  .div-presentacion{
    background: linear-gradient(180deg, rgba(0,0,0,1) -47%, rgba(242,193,164,1) 0%, rgba(255,255,255,1) 72%);
    padding-top: 2px;
  }
  .menu-navegacion-presentacion a{
    text-decoration: none;
    color: rgb(240, 23, 186);
    font-weight: bold;
    
  }
  .menu-navegacion-presentacion a:hover{
    color: black;
  }
  .menu-navegacion-presentacion{
    display: flex;
    list-style-type: none;
    flex-direction: row; 
    font-size: 1rem;   
    font-weight: 700;
    gap: 3rem;
    justify-content: right;
    margin-right: 200px;
    margin-bottom: 30px;
    margin-top: 15px;
    font-family: 'Fedorka';
    
  }


  #main-presentacion{
    font-family: 'Inter';
    display: block;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
  }
  #body-presentacion{
    height: 100%;
    width: 100%;
    position: absolute; 
  
  }
  .titular-presentacion{
    margin-top: 20px;
    font-size: 1.3rem;
    margin-left: 200px;
    margin-bottom: 20px;
    
  
  }

.footer-presentacion{
  background: rgb(171, 210, 202);
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 0;
  margin-top: 30px;
  border-top: 2 solid black;
  }
  .pie-presentacion{
    margin-left: 200px;
    padding-bottom: 50px;
    position: relative;
    top: 20px;
    font-family: 'Inter', sans-serif;
  }
  .menupie-presentacion li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    position:relative;
    bottom: 20px;
    left: 160px;
    padding-right: 15px;
     margin-left: 40px;
  }
  .menupie-presentacion a{
    text-decoration: none;
  color: rgb(240, 23, 186);
  font-weight: bold;
  }
  .menupie-presentacion a:hover{
    color:black;
  }
  .dalmatian{
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    text-align: right;
    font-size: 0.8rem;
    font-style: italic;
  }
  .pecasimg{
    float: right;
    margin-left: 12px;
    margin-bottom: 12px;
    font-size: 0.8rem;
    font-style: italic;
    text-align: right;
  }

  .header-enlaces{
    background: rgb(171, 210, 202);
    display: flex;
    border-bottom: 2 solid black;
  }
  .div-enlaces{
    background: linear-gradient(180deg, rgba(0,0,0,1) -47%, rgba(242,193,164,1) 0%, rgba(255,255,255,1) 72%);
    padding-top: 2px;
  }
  .menu-navegacion-enlaces a{
    text-decoration: none;
    color: rgb(240, 23, 186);
    font-weight: bold;
    
  }
  .menu-navegacion-enlaces a:hover{
    color: black;
  }
  .menu-navegacion-enlaces{
    display: flex;
    list-style-type: none;
    flex-direction: row; 
    font-size: 1rem;   
    font-weight: 700;
    gap: 3rem;
    justify-content: right;
    margin-right: 200px;
    margin-bottom: 30px;
    margin-top: 15px;
    font-family: 'Fedorka';
    
  }



  #main-enlaces{
    font-family: 'Inter';
    display: block;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    margin-top: 80px;
  }
  #body-enlaces{
    height: 100%;
    width: 100%;
    position: absolute; 
  
  }
  .titular-enlaces{
    margin-top: 20px;
    font-size: 1.3rem;
    margin-left: 200px;
    margin-bottom: 20px;
    
  
  }
  .footer-enlaces{
    background: rgb(171, 210, 202);
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 0;
    margin-top: 30px;
    border-top: 2 solid black;
    }
    .pie-enlaces{
      margin-left: 200px;
      padding-bottom: 50px;
      position: relative;
      top: 20px;
      font-family: 'Inter', sans-serif;
    }
    .menupie-enlaces li{
      list-style: none;
      text-decoration: none;
      display: inline-block;
      position:relative;
      bottom: 20px;
      left: 160px;
      padding-right: 15px;
       margin-left: 40px;
    }
    .menupie-enlaces a{
      text-decoration: none;
    color: rgb(240, 23, 186);
    font-weight: bold;
    }
    .menupie-enlaces a:hover{
      color:black;
    }
    .lista-enlaces{
      margin-left: 30px;
      font-size: 1.2rem;
      margin-top: 30px;

    }
.lista-enlaces a{
  text-decoration: none;
  color: black;
  font-weight: 800;
  
}
.lista-enlaces a:hover{
  text-decoration: underline;
  color: rgb(240, 23, 186);
  font-weight: bolder;
  font-style: italic;
  
}
.videofinal{
  margin-top: 60px;
  text-align: center;
}
.videofinal figcaption{
  padding-left: 380px;
  font-size: 0.7rem;
  font-style: italic;
}
.flecha{
  font-family: 'Fedorka';
  font-size: 1.1rem;
  margin-top: 160px;
  margin-bottom: 80px;
}
.flecha a{
  color: rgb(240, 23, 186);
  text-decoration: none;
}
.flecha a:hover{
  color:black;
}